@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Zetta:wght@100..900&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a{
    text-decoration: none;
    color: black;
}

.cor-destaque-nav{
    color: #FF5F5F;
}

body{
    font-family: "Lexend Zetta", sans-serif;
}

header{
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: #fff;
}

.header-conteiner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

    & img{
        width: 220px;
    }
}

nav ul{
    display: flex;
    gap: 3rem;
    & li{
        list-style: none;

        font-size: 13px;

        & a{
            transition: 0.3s ease;
        }

        & a:hover{
            border-bottom: 3px solid #FF5F5F;
        }
    }
}

.bt-header{
    background-color: #FF5F5F;
    padding: 10px;
    width: 180px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 13px;
    transition: background-color 0.3s ease-in-out;

    & i{
        margin-left: 15px;
    }
}

.bt-header:hover{
    background-color: #fa4747;
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    & .qrcode{
        width: 280px;
        height: 280px;
        background-color: #A2FF70;
        border-radius: 20px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
        margin: 50px 0;
        text-align: center;

        & img{
            width: 280px;
        }

    }
}

.chavespix{
    display: flex;
    width:70%;
    gap: 20px;
    justify-content: center;
}   


.dadosbancarios{
    width: 350px;

    & p{
        margin-bottom: 10px;
        font-weight: bold;
    }

    & span{
        line-height: 1.5;
    }

}

.pix{
    & p{
        font-weight: bold;
        margin-bottom: 10px;
    }
}