@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend+Zetta:wght@100..900&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

a{
    text-decoration: none;
    color: black;
}

.cor-destaque-nav{
    color: #FF5F5F;
}

body{
    font-family: "Lexend Zetta", sans-serif;
}

header{
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: #fff;
}

.header-conteiner{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

    & img{
        width: 220px;
    }
}

nav ul{
    display: flex;
    gap: 3rem;
    & li{
        list-style: none;
    }
}

.bt-header{
    background-color: #FF5F5F;
    padding: 10px;
    width: 180px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;

    & i{
        margin-left: 15px;
    }
}

.bt-header:hover{
    background-color: #fa4747;
}


.inicio-sejav{
    height: 65vh;
    background-color: rgb(11, 32, 11);
    position: relative;
    z-index: 1;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Aoboshi One", serif;
    font-size: 55px;
    color: #A2FF70;
}

.inicio-sejav::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(https://images.pexels.com/photos/6646916/pexels-photo-6646916.jpeg);
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    z-index: -1;
}

.comocontribuir{
    background-color: #ffff0044;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0;
    gap: 2rem;
    color: #133600;
    

    & h3{
        font-size: 26px;
        font-weight: 700;
    }

    & p{
        font-size: 19px;
        margin-bottom: 40px;
    }
}

.contribuicoes{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: stretch
}

.card-contribuir{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    gap: 20px;
    width: 20%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.card-contribuir h4{
    font-size: 22px;
    font-weight: 800;
}

.card-contribuir p{
    font-size: 18px;
    margin: auto;
}

.card-contribuir i{
    font-size: 35px;
}

.form-voluntario{
    min-height: 60vh;
    background-color: #A2FF70;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px;
    gap: 2rem;

    & h3{
        font-size: 26px;
    }
}

form{
    width: 30%;
    text-align: left;
    text-align: center;


    & div{
        width: 100%;
        margin: 10px 0 20px 0;
        box-shadow: -6px 8px 0px black;
        border-radius: 10px;
        border: 1px solid black;

        & input{
            width: 100%;
            padding: 12px;
            border: 0;
            border-radius: 10px;
            font-size: 15px;
            outline: 0;
        }
    }

    & input[type=submit]{
        background-color: #FF5F5F;
        padding: 20px;
        font-size: 20px;
        text-align: center;
        border: 0;
        color: #fff;
        cursor: pointer;
        border-radius: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        width: 100%;
        transition: background-color 0.3s ease-in-out;

    }

    & input[type=submit]:hover{
        background-color: #fa4747;
    }

}

